# Ukrywa config aby twój token był bezpieczny :)
/dane/token.js

# Ukrywa cytaty. Jeżeli chcesz aby się pojawiły w twoim repo to wywal poniższą linijkę.
/dane/cytaty.js

# Ukrywa node_modules
/node_modules

# Ukrywa package_lock
/package_lock.json

# General
.DS_Store
.AppleDouble
.LSOverride

# Icon must end with two \r
Icon


# Thumbnails
._*

# Files that might appear in the root of a volume
.DocumentRevisions-V100
.fseventsd
.Spotlight-V100
.TemporaryItems
.Trashes
.VolumeIcon.icns
.com.apple.timemachine.donotpresent

# Directories potentially created on remote AFP share
.AppleDB
.AppleDesktop
Network Trash Folder
Temporary Items
.apdisk
